# Add local tools downloaded by our Makefile for easy access
PATH_add bin

# Common
export AWS_ACCESS_KEY_ID="<YOUR_ACCESS_KEY>"
export AWS_SECRET_ACCESS_KEY="<YOUR_SECRET_ACCESS_KEY>"

# For Terraform
export TF_VAR_ami_id=""
